@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --color-primary: #EDA415;
    --color-secondary: #003F62;
    --color-text: #1B5A7D;
    --color-blue: #87BCD9;
    --color-dark: #292D32;
    --color-white: #fff;
    --color-blured: rgba(0, 0, 0, 0.2);
    --color-border: #A5A5A5;
    --color-blue-opacity: #E2F4FF;
    /* Sizes */
    --size-default: 14px;
    --size-heading: 43px;
    --size-big: 20px;
    --size-small: 18px;
    --size-small-headings: 23px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}

header {
    position: relative;
    z-index: 99;
}

.before_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 1%;
}

.before_heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.before_heading-p {
    color: var(--color-dark);
    font-size: var(--size-default);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.before_heading-icon {
    color: var(--color-dark);
    font-size: var(--size-small);
}

.header_wrapper {
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 1%;
    background: var(--color-secondary);
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    white-space: nowrap;
}

.header_wrapper-icon {
    position: relative;
    font-size: var(--size-big);
    color: var(--color-white);
}

.header_wrapper-icon span {
    position: absolute;
    top: -7.5px;
    right: -15px;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-default);
}

.nav_link {
    color: var(--color-white);
    font-size: var(--size-default);
}

.toggle_menu {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    z-index: 9999;
}

.toggle_menu.default span:nth-child(2) {
    display: none;
}

.toggle_menu.default span:nth-child(1) {
    position: absolute;
    left: -30px;
    transform: rotateZ(45deg);
}

.toggle_menu.default span:nth-child(3) {
    position: absolute;
    left: -30px;
    transform: rotateZ(-45deg);
}

.toggle_menu:active {
    transform: scale(.9);
}

.toggle_menu span {
    width: 30px;
    height: 3px;
    background: var(--color-white);
    border-radius: 5px;
}

.modal_wrapper {
    position: fixed;
    left: 0%;
    top: -100%;
    background: var(--color-blured);
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 99999;
}

.modal_wrapper.default {
    top: 0;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    z-index: 9999;
}

.search_box {
    width: 90%;
    background: var(--color-white);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_box.default {
    animation: search_box_animation .3s ease both 1 .3s;
}

@keyframes search_box_animation {
    0% {
        transform: rotateX(45deg) rotateY(45deg);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg) rotateY(0deg);
    }
}

.search_box-input {
    position: relative;
    width: 80%;
    padding: 15px 0 15px 20px;
    background: var(--color-white);
    border-radius: 20px 0 0 20px;
    color: var(--color-dark);
}

.search_box-btn {
    padding: 15px 25px;
    border-radius: 20px;
    background: var(--color-primary);
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    margin-left: 5px;
}

.search_box-btn:active {
    transform: scale(.9);
}

.modal_wrapper-icon {
    font-size: var(--size-big);
    color: var(--color-white);
    cursor: pointer;
}

.category_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 85px;
}

.category_wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: auto;
    padding: 0px 30px;
    color: var(--color-dark);
    font-weight: 500;
    font-size: var(--size-default);
}

.category_wrapper-browse-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--color-white);
    font-weight: 500;
    background: var(--color-primary);
    font-size: var(--size-default);
    cursor: pointer;
}

.category_wrapper-free-trial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark);
    font-weight: 700;
    font-size: var(--size-default);
}

.category_wrapper-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.search_box-icon {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    z-index: 9999;
}

.search_box-icon span:nth-child(1) {
    position: absolute;
    left: -30px;
    transform: rotateZ(45deg);
}

.search_box-icon span:nth-child(2) {
    display: none;
}

.search_box-icon span:nth-child(3) {
    position: absolute;
    left: -30px;
    transform: rotateZ(-45deg);
}

.search_box-icon span {
    width: 30px;
    height: 3px;
    background: var(--color-white);
    border-radius: 5px;
}




.porducts hr{
    margin-top: 20px;
}
.all{
    margin-top: 150px;
    margin-left: 7%;
    display: flex;
}
.porducts{
    width: 55%;
}
.game{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.game p{
    font-size: 22px;
    font-weight: 500;
    color: #2F2F2F;
    margin-top: 40px;
}
.playgame{
    display: flex;
}
.playgame_p s{
    color: #003F62;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
}
.playgame_p p{
    margin-top: 5px;
    color: #2F2F2F;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}
.ppp{
    display: flex;
    justify-content: space-between;
}
.ppp P{
    display: flex;
    margin: 55px;
}
.porducts_p{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 60px;
    background-color: #E2F4FF;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #232323;
    font-weight: 500;
    align-items: center;
}
.game_button{
    margin-top: 40px;
}
.game_button button:nth-child(1),
.game_button button:nth-child(3){
    width: 35px;
    height: 30px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
}
.game_button button:nth-child(2){
    width: 60px;
    height: 30px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
}

.game_x{
    cursor: pointer;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #292D32;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 40px;
}
.products_button{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.products_button button:nth-child(1){
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: #EDA415;
}
.products_button button:nth-child(3){
    width: 250px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    color: grey;
    background-color: #fff;
}
.products_button button:nth-child(5){
    width: 250px;
    height: 70px;
    border: 1px solid red;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    color: red;
    background-color: #fff;
}

.total{
    margin-left: 20px;
    width: 30%;
}
.total_p{
    background-color: #E2F4FF;
    width: 100%;
    height: 60px;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #232323;
}
.subtotal,.amount{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.total hr{
    margin-left: 6%;
    width: 90%;
    margin-top: 20px;
}
.total input,select{
    margin-top: 30px;
    width: 90%;
    height: 50px;
    padding-left: 20px;
    margin-left: 6%;
    border-radius: 30px;
    border: 1px solid grey;
}
.total_a{
    color: white;
}

.total button{
    background-color: #EDA415;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 4%;
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
}
.total button:hover{
   transform: scale(1.07,1.07);
   transition: 0.5s;
}


/* footer */
footer {
  padding-top: 40px;
  width: 100%;
  height: 550px;
  background-color: #E2F4FF;
  padding-left: 5%;
  padding-right: 5%;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  height: 25%;
}

.subscribe p {
  color: #1B5A7D;
  font-size: 30px;
  font-weight: 700;
}


.s_input input {
  margin: 0px;
  width: 300px;
  height: 60px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 700;
  color: #E2F4FF;
  background-color: #EDA415;
  border-radius: 20px;
  border: none;
}

.s_input p {
  margin-top: -50px;
}

.s_input span {
  font-size: 30px;
  color: white;
  margin-left: 110px;
  cursor: pointer;
}

.s_input p {
  margin-top: -50px;
  margin-left: 140px;
}

.s_input input:hover {
  transform: none;
}

.call {
  display: flex;
}

.call span {
  margin-left: 50px;
  color: yellow;
  font-size: 45px;
}

.call p {
  color: #606060;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.elcton p {
  color: #1B5A7D;
  font-size: 20px;
  font-weight: 400;
  width: 250px;
  margin-top: 50px;
}

.elcton hr {
  width: 250px;
  margin-top: 35px;
}

.find_product ul,
.get_help ul,
.about_us ul {
  color: #D9D9D9;
  margin-top: 20px;
}
.find_product a,
.get_help a,
.about_us a {
  color: #1B5A7D;
}
.find_product p,
.get_help p,
.about_us p {
  color: #1B5A7D;
  font-size: 20px;
  font-weight: 600;
}
.elcton i{
  font-size: 35px;
  margin: 20px;
  color: #3B3B3B;
}
.find_product li,
.get_help li,
.about_us li {
  margin-top: 10px;
}

