@media screen and (max-width: 800px) {
  .category_wrapper-browse-categories {
    gap: 5px;
  }

  .category_wrapper-actions {
    gap: 5px;
  }

  .category_wrapper-inner {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .before_heading-div {
    display: none;
  }

  .header_wrapper {
    padding: 20px 3%;
  }

  .toggle_menu {
    display: flex;
  }

  .menu {
    position: fixed;
    left: 0%;
    top: -100%;
    width: 100%;
    height: 100vh;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu.default {
    top: 0%;
  }

  .nav-item {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_wrapper {
    position: fixed;
    left: 0%;
    top: -100%;
    background: var(--color-blured);
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .modal_wrapper.default {
    display: flex;
    left: 0;
    top: 0;
  }

  .modal {
    gap: 5px;
  }
}



@media screen and (max-width: 450px) {
  .search_box {
    display: flex !important;
    border-radius: 15px;
  }

  .search_box-input {
    width: 80%;
    padding: 10px 0 10px 20px;
    background: var(--color-white);
    border-radius: 15px 0 0 15px;
    color: var(--color-dark);
  }

  .search_box-btn {
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--color-primary);
    font-weight: 400;
    color: var(--color-white);
    cursor: pointer;
    margin-left: 5px;
  }

  .search_box-btn:active {
    transform: scale(.9);
  }

  .swiper-slide img {
    width: 30%;
  }

  :root {
    --size-default: 12px;
    --size-heading: 28px;
    --size-big: 18px;
    --size-small: 16px;
  }


}

@media screen and (max-width: 310px) {
  .category_wrapper-free-trial {
    display: none;
  }

  .swiper-slide img {
    width: 40%;
  }

  .index-section_third_btn_wrapper button {
    width: 90%;
  }

  .swiper {
    padding: 0.5px;
  }

  .index-section_eight_wrapper img {
    width: 70%;
  }
}



















@media screen and (max-width: 1250px) {
  .all {
    display: block;
  }

  .porducts {
    width: 90%;
  }

  .game {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  .game p {
    font-size: 22px;
    font-weight: 500;
    color: #2F2F2F;
    margin-top: 40px;
  }

  .playgame {
    display: block;
  }

  .playgame_p s {
    color: #003F62;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
  }

  .playgame_p p {
    margin-top: 5px;
    color: #2F2F2F;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
  }

  .ppp p {
    margin: 40px;
  }




  .game_x {
    cursor: pointer;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #292D32;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 40px;
  }


  .total {
    margin-left: 20px;
    width: 90%;
    margin-top: 50px;
  }



  .total button:hover {
    transform: scale(1.07, 1.07);
    transition: 0.5s;
  }
}





@media screen and (max-width: 900px) {



  .subscribe p {
    font-size: 20px;
  }

  .subscribe {
    height: 250px;

  }

  .call p {
    font-size: 15px;
  }

  footer {
    height: 650px;
  }
  .products_button button:nth-child(1),.products_button button:nth-child(3),.products_button button:nth-child(5){
  font-size: 15px;
  height: 55px;
}


}


@media screen and (max-width: 720px) {



  .subscribe {
    display: block;
    justify-content: none;
  }

  .s_input input {
    margin-top: 20px;
  }

  .call {
    margin-top: 30px;
    margin-left: -50px;
  }

  .footer {
    margin-top: 40px;
    display: block;
    justify-content: none;
  }

  footer {
    height: 1200px;
  }

  .find_product p,
  .get_help p,
  .about_us p {
    margin-top: 30px;
  }

  .ppp p {
    margin: 20px;
    font-size: 15px;
  }

}


@media screen and (max-width: 550px) {
  .ppp {
    display: none;
  }

  .game_button button:nth-child(2) {
    width: 30px;
    height: 30px;
  }

  .game_button button:nth-child(1),
  .game_button button:nth-child(3) {
    width: 25px;
    height: 30px;

  }

  .game p {
    font-size: 15px;
  }

  .playgame img {
    width: 50%;
  }

  .playgame_p {
    font-size: 15px;
  }

  .all {
    margin-left: 5px;
  }

  .total {
    margin-left: 0px;
  }

  .total button {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }


  .lorem {
    height: 70%;
  }

  .s_input input {
    width: 200px;
  }

  .s_input span {
    margin-left: 15px;
    margin-top: 5px;
  }

  .subscribe {
    height: 30%;
  }
  .products_button button:nth-child(1),.products_button button:nth-child(3),.products_button button:nth-child(5){
    font-size: 10px;
  }
}