/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all .3s ease;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --color-primary: #EDA415;
  --color-secondary: #003F62;
  --color-text: #1B5A7D;
  --color-blue: #87BCD9;
  --color-dark: #292D32;
  --color-white: #fff;
  --color-blured: rgba(0, 0, 0, 0.2);
  --color-border: #A5A5A5;
  --color-blue-opacity: #E2F4FF;
  /* Sizes */
  --size-default: 14px;
  --size-heading: 43px;
  --size-big: 20px;
  --size-small: 18px;
  --size-small-headings: 23px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1%;
}

header {
  position: relative;
  z-index: 99;
}

.before_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 1%;
}

.before_heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.before_heading-p {
  color: var(--color-dark);
  font-size: var(--size-default);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.before_heading-icon {
  color: var(--color-dark);
  font-size: var(--size-small);
}

.header_wrapper {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 1%;
  background: var(--color-secondary);
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  white-space: nowrap;
}

.header_wrapper-icon {
  position: relative;
  font-size: var(--size-big);
  color: var(--color-white);
}

.header_wrapper-icon span {
  position: absolute;
  top: -7.5px;
  right: -15px;
  width: 20px;
  height: 20px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-default);
}

.nav_link {
  color: var(--color-white);
  font-size: var(--size-default);
}

.toggle_menu {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  z-index: 9999;
}

.toggle_menu.default span:nth-child(2) {
  display: none;
}

.toggle_menu.default span:nth-child(1) {
  position: absolute;
  left: -30px;
  transform: rotateZ(45deg);
}

.toggle_menu.default span:nth-child(3) {
  position: absolute;
  left: -30px;
  transform: rotateZ(-45deg);
}

.toggle_menu:active {
  transform: scale(.9);
}

.toggle_menu span {
  width: 30px;
  height: 3px;
  background: var(--color-white);
  border-radius: 5px;
}

.modal_wrapper {
  position: fixed;
  left: 0%;
  top: -100%;
  background: var(--color-blured);
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99999;
}

.modal_wrapper.default {
  top: 0;
}

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  z-index: 9999;
}

.search_box {
  width: 90%;
  background: var(--color-white);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_box.default {
  animation: search_box_animation .3s ease both 1 .3s;
}

@keyframes search_box_animation {
  0% {
      transform: rotateX(45deg) rotateY(45deg);
      opacity: 0;
  }

  100% {
      opacity: 1;
      transform: rotateX(0deg) rotateY(0deg);
  }
}

.search_box-input {
  position: relative;
  width: 80%;
  padding: 15px 0 15px 20px;
  background: var(--color-white);
  border-radius: 20px 0 0 20px;
  color: var(--color-dark);
}

.search_box-btn {
  padding: 15px 25px;
  border-radius: 20px;
  background: var(--color-primary);
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
  margin-left: 5px;
}

.search_box-btn:active {
  transform: scale(.9);
}

.modal_wrapper-icon {
  font-size: var(--size-big);
  color: var(--color-white);
  cursor: pointer;
}

.category_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 85px;
}

.category_wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: auto;
  padding: 0px 30px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: var(--size-default);
}

.category_wrapper-browse-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: var(--color-white);
  font-weight: 500;
  background: var(--color-primary);
  font-size: var(--size-default);
  cursor: pointer;
}

.category_wrapper-free-trial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark);
  font-weight: 700;
  font-size: var(--size-default);
}

.category_wrapper-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search_box-icon {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  z-index: 9999;
}

.search_box-icon span:nth-child(1) {
  position: absolute;
  left: -30px;
  transform: rotateZ(45deg);
}

.search_box-icon span:nth-child(2) {
  display: none;
}

.search_box-icon span:nth-child(3) {
  position: absolute;
  left: -30px;
  transform: rotateZ(-45deg);
}

.search_box-icon span {
  width: 30px;
  height: 3px;
  background: var(--color-white);
  border-radius: 5px;
}

/* canon */
.canon {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

}

.canon_p {
  margin-right: 70%;
  width: 100%;
}

.canon_p p {
  color: #1B5A7D;
  font-weight: 700;
  font-size: 43px;
  width: 50%;
  text-align: start;
}

.canon_btn {
  display: flex;
}

.canon_btn button:nth-child(1) {
  background-color: #EDA415;
  color: white;
  width: 200px;
  border-radius: 20px;
  height: 60px;
  border: none;
  font-size: 15px;
}

.canon_btn button:nth-child(2) {
  background-color: white;
  color: #316887;
  border: 1px solid #316887;
  width: 200px;
  border-radius: 20px;
  font-size: 15px;
  height: 60px;
  margin-left: 20px;
}

.canon_btn button:hover {
  transform: scale(1.07, 1.07);
  transition: 0.5s;
  cursor: pointer;
}

/* swip */
.swip {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 500px;
  margin-top: 75px;
  padding: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* speaker */

.card_speaker {
  width: 300px;
  height: 130px;
  display: flex;
  margin: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.card_speaker img {
  width: 150px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}

.card_speaker_p {
  margin-top: 20px;
}

.card_speaker_p p,
span {
  color: #1B5A7D;
  font-weight: 600;
  font-size: 25px;
}

.card_speaker_p span {
  font-size: 20px;
  font-weight: 500;
}


.popular_products {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.popular_products p {
  color: #1B5A7D;
  font-weight: 600;
  font-size: 30px;
  margin-left: 5%;
}

.button_popular_products {
  display: flex;
  margin-right: 5%;
}

.button_popular_products button {
  margin-left: 20px;
  width: 150px;
  height: 50px;
  background-color: white;
  color: #1B5A7D;
  border: 1px solid #1B5A7D;
  border-radius: 30px;
}

.button_popular_products button:hover {
  transform: scale(1.07, 1.07);
  transition: 0.5a;

}


/* card_products */
.product {
  height: 1000px;
}

.card_products {
  border: 1px solid grey;
  width: 70%;
  height: 350px;
  border-radius: 15px;
  text-align: start;
  padding-top: 20px;
  padding-left: 15px;
  margin: 10px;
}

.img_product {
  width: 200px;
  height: 150px;
  margin-left: 40px;
}

.card_products p {
  color: #003F62;
  font-weight: 500;
  font-size: 17px;
}

.card_products span {
  color: #4A4A4A;
  font-weight: 600;
  font-size: 17px;

}

.card_products:hover {
  transform: scale(1.07, 1.07);
  transition: 0.5s;

}

.all_product {
  display: flex;
  margin-top: 50px;
}

/* sale  */
.sale {
  width: 1300;
  height: 420px;
}

.sale img {
  width: 90%;
  border-radius: 20px;
}

.sale button,
input {
  width: 130px;
  height: 45px;
  background-color: #EDA415;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.sale p {
  color: #2E8FC5;
  font-size: 41px;
  font-weight: 700;
  margin-top: 20px;
}

.sale span {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.sale button:hover,
input:hover {
  transform: scale(1.07, 1.07);
  transition: 0.5s;
}

.laptop_sale {
  margin-top: -350px;
  margin-left: 50%;
}

/* deep_bass */
.product {
  height: 1000px;
}

.deep_bass {
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
}

.img_product {
  margin-left: 18px;
}

.jbl {
  display: flex;
  margin-top: 10px;
}

.deep_btn button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background-color: #E2F4FF;
  color: #EDA415;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}


.deep_button button:nth-child(1) {
  width: 200px;
  height: 60px;
  background-color: #87BCD9;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.deep_button button:nth-child(1) span {
  color: #EDA415;
  margin-left: 10px;
}

.deep_button button:nth-child(2) {
  width: 70px;
  height: 60px;
  background-color: #87BCD9;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.deep_button button:nth-child(2) span {
  color: black;
}

.deep_p {
  margin-top: 20px;
  text-align: start;
}

.wirles {
  color: #003F62;
  font-size: 21px;
  font-weight: 600;
}

.wirles1 {
  color: #003F62;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  width: 150px;
}


.deep_swip {
  width: 65%;
  height: 450px;
  border: 1px solid grey;
  border-radius: 20px;
}

.deep_game {
  border: 1px solid grey;
  width: 85%;
  height: 220px;
  border-radius: 15px;
  text-align: start;
  margin-left: 30px;
  display: flex;
}

.dollor {
  color: #4A4A4A;
  font-weight: 600;
  font-size: 17px;
}

/* delivery */

.free_delivery {
  display: flex;
  background-color: #E2F4FF;
  width: 90%;
  height: 140px;
  margin-left: 5%;
  border-radius: 20px;
  margin-top: 50px;
}

.delivery {
  margin-top: 40px;
  display: flex;
  margin-left: 7%;
}

.delivery img {
  width: 35%;
  height: 55%;
}

.delivery p {
  width: 250px;
  font-size: 90%;
  font-weight: 600;
  color: #003F62;
  margin-left: 5%;
}

.delivery span {
  font-size: 90%;
  font-weight: 400;
  margin-left: 5%;
  color: #003F62;
}

.people_swip {
  border: 1px solid gray;
  border-radius: 20px;
  width: 90%;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 10px;
}

.people_flex {
  display: flex;
  margin: 10px;
  padding-bottom: 20px;
}

.all_people {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 50px;
}

.savannah {
  display: flex;
}

.savannah p {
  color: #003F62;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 30px;
}

.lorem {
  width: 95%;
  background-color: #E2F4FF;
  height: 50%;
  border-radius: 18px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.lorem p {
  width: 90%;
  text-align: start;
  color: #003F62;
  font-size: 13px;
  font-weight: 400;
}

/* sapce  */

.space {
  width: 90%;
  height: 150px;
  background-color: #E2F4FF;
  margin-left: 5%;
  border-radius: 10px;
}

.space img {
  margin: 10px;
  margin-top: 50px;
}

/* news */
.news {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
}

.news p {
  color: #1B5A7D;
  font-size: 25px;
  font-weight: 600;
}

.news a {
  color: #1B5A7D;
  font-size: 20px;
  font-weight: 500;
}

/* produce_card */
.produce {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.produce_card {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid grey;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 15px;
  margin: 10px;
  margin-bottom: 40px;

}

.produce_card img {
  width: 320px;
  height: 290px;
  margin-top: 20px;
}

.produce_p {
  text-align: start;
  margin-left: 30px;
  width: 40%;
}

.produce_p input {
  width: 70%;
  background-color: white;
  color: #1B5A7D;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  border: 1px solid #1B5A7D;
}

.produce_p p {
  color: #1B5A7D;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}

.produce_p span,
s {
  color: #003F62;
  font-size: 13px;
  font-weight: 400;
}


/* footer */
footer {
  padding-top: 40px;
  width: 100%;
  height: 550px;
  background-color: #E2F4FF;
  padding-left: 5%;
  padding-right: 5%;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  height: 25%;
}

.subscribe p {
  color: #1B5A7D;
  font-size: 30px;
  font-weight: 700;
}


.s_input input {
  margin: 0px;
  width: 300px;
  height: 60px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 700;
  color: #E2F4FF;
}

.s_input p {
  margin-top: -50px;
}

.s_input span {
  font-size: 30px;
  color: white;
  margin-left: 110px;
  cursor: pointer;
}

.s_input p {
  margin-top: -50px;
  margin-left: 140px;
}

.s_input input:hover {
  transform: none;
}

.call {
  display: flex;
}

.call span {
  margin-left: 50px;
  color: yellow;
  font-size: 45px;
}

.call p {
  color: #606060;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.elcton p {
  color: #1B5A7D;
  font-size: 20px;
  font-weight: 400;
  width: 250px;
  margin-top: 50px;
}

.elcton hr {
  width: 250px;
  margin-top: 35px;
}

.find_product ul,
.get_help ul,
.about_us ul {
  color: #D9D9D9;
  margin-top: 20px;
}
.find_product li,
.get_help li,
.about_us li {
  margin-top: 10px;
}

.find_product a,
.get_help a,
.about_us a {
  color: #1B5A7D;
}

.find_product p,
.get_help p,
.about_us p {
  color: #1B5A7D;
  font-size: 20px;
  font-weight: 600;
}

.elcton i {
  font-size: 35px;
  margin: 20px;
  color: #3B3B3B;
}