
@media screen and (max-width: 800px) {
  .category_wrapper-browse-categories {
      gap: 5px;
  }

  .category_wrapper-actions {
      gap: 5px;
  }

  .category_wrapper-inner {
      display: none;
  }
}

@media screen and (max-width: 550px) {
  .before_heading-div {
      display: none;
  }

  .header_wrapper {
      padding: 20px 3%;
  }

  .toggle_menu {
      display: flex;
  }

  .menu {
      position: fixed;
      left: 0%;
      top: -100%;
      width: 100%;
      height: 100vh;
      background: var(--color-secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .menu.default {
      top: 0%;
  }

  .nav-item {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .modal_wrapper {
      position: fixed;
      left: 0%;
      top: -100%;
      background: var(--color-blured);
      padding: 20px;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }

  .modal_wrapper.default {
      display: flex;
      left: 0;
      top: 0;
  }

  .modal {
      gap: 5px;
  }
}



@media screen and (max-width: 450px) {
  .search_box {
      display: flex !important;
      border-radius: 15px;
  }

  .search_box-input {
      width: 80%;
      padding: 10px 0 10px 20px;
      background: var(--color-white);
      border-radius: 15px 0 0 15px;
      color: var(--color-dark);
  }

  .search_box-btn {
      padding: 10px 20px;
      border-radius: 15px;
      background: var(--color-primary);
      font-weight: 400;
      color: var(--color-white);
      cursor: pointer;
      margin-left: 5px;
  }

  .search_box-btn:active {
      transform: scale(.9);
  }

  .swiper-slide img {
      width: 30%;
  }

  :root {
      --size-default: 12px;
      --size-heading: 28px;
      --size-big: 18px;
      --size-small: 16px;
  }


}

@media screen and (max-width: 310px) {
  .category_wrapper-free-trial {
      display: none;
  }

  .swiper-slide img {
      width: 40%;
  }

  .index-section_third_btn_wrapper button {
      width: 90%;
  }

  .swiper {
      padding: 0.5px;
  }

  .index-section_eight_wrapper img {
      width: 70%;
  }
}








@media screen and (max-width: 1250px) {
  
  .canon_p {
    margin-right: 20%;
  }

  .card1 {
    display: none;
  }

  .popular_products {
    display: block;
  }

  .product1 {
    display: none;
  }

  .sale img {
    width: 90%;
    height: 300px;
  }

  .laptop_sale {
    margin-top: -270px;
    margin-left: 0%;
  }

  .sale button,
  input {
    width: 20%;
  }

  .deep_bass {
    display: block;
  }

  .deep_swip {
    width: 95%;
    height: 480px;

  }

  .deep_game {
    width: 95%;
    margin-left: 0px;
    margin-top: 10px;
  }

  .free_delivery {
    display: block;
    height: 400px;
    padding-top: 10px;
  }

  .delivery img {
    width: 70px;
    height: 70px;
  }

  .space {
    height: 250px;
  }

  .produce_card {
    display: block;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
  }

  .produce_p {
    width: 90%;
  }

}




@media screen and (max-width: 900px) {
  

  .canon_btn {
    width: 100%;
  }

  .canon_btn button:nth-child(1),
  .canon_btn button:nth-child(2) {
    width: 250px;
  }

  .canon_p {
    margin-left: 10%;
  }

  .canon {
    display: block;
    margin-top: -50px;
  }

  .canon_img img {
    width: 200px;
  }

  .canon_p {
    margin-right: 10%;
  }

  .product2 {
    display: none;
  }

  .card_products {
    border: 1px solid grey;
    width: 300px;
    margin: 30px;
  }

  .lorem {
    height: 60%;
  }

  .people_swip {
    height: 300px;
  }

  .savannah p {
    font-size: 13px;
    margin-left: 10px;
  }

  .produce_card img {
    width: 70%;
    height: auto;
  }
  .subscribe p {
    font-size: 20px;
  }
  .subscribe{
    height: 250px;

  }
  .call p {
    font-size: 15px;
  }
  footer{
    height: 650px;
  }
}

@media screen and (max-width: 800px) {
  .space {
    height: 350px;
  }
}

@media screen and (max-width: 720px) {


  .swiper-button-prev,
  .swiper-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: hidden;
  }

  .canon_btn button:nth-child(1),
  .canon_btn button:nth-child(2) {
    width: 150px;
  }

  .card_speaker {
    width: 70%;
    height: 200px;
    display: block;

  }

  .card_speaker img {
    width: 150px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .card_speaker_p {
    margin-top: 0px;
  }

  .card1,
  .card2 {
    display: none;
  }

  .product3 {
    display: none;
  }

  .sale button,
  input {
    width: 40%;
  }

  .sale p {
    font-size: 30px;
  }

  .deep_swip {
    height: 600px;
  }

  .deep_p {
    margin-top: -90px;
    text-align: center;
  }

  .jbl {
    padding-bottom: 150px;
    display: block;
  }

  .deep_game {
    width: 95%;
    margin-left: 0px;
    margin-top: 10px;
    display: block;
    height: 370px;
    padding-left: 25%;
  }

  .s2 {
    display: none;
  }

  .people_swip {
    height: 80%;
    padding-bottom: 10px;
  }

  .lorem {
    height: 70%;
  }

  .produce_p {
    width: 70%;
    margin-left: 15%;

  }

  .produce_p button {
    width: 100%;

  }

  .pc1 {
    display: none;
  }
  .subscribe{
    display: block;
    justify-content: none;
  }
  .s_input input{
    margin-top: 20px;
  }
  .call{
    margin-top: 30px;
    margin-left: -50px;
  }
  .footer {
    margin-top: 40px;
    display: block;
    justify-content: none;
  }
  footer{
    height: fit-content;
    padding-bottom: 20px;
  }
  .find_product p,
.get_help p,
.about_us p {
  margin-top: 30px;
}

}

@media screen and (max-width: 500px) {
  .deep_game {
    padding-left: 15%;
  }

  .jbl_bar {
    width: 80%;
    margin-top: 100px;
  }

  .wirles {
    margin-top: 50px;
  }

  .savannah img {
    width: 50px;
    height: 50px;
  }

  .savannah p {
    margin-top: 10px;
  }

  .space {
    height: 520px;
  }

  .space img {
    width: 50%;
  }

}

@media screen and (max-width: 400px) {
 

  .canon_btn button:nth-child(1),
  .canon_btn button:nth-child(2) {
    width: 100px;

  }

  .button_popular_products {
    display: block;
    margin-top: 20px;
  }

  .button_popular_products button {
    display: block;
    width: 90%;
  }

  .popular_products p {
    font-size: 20px;
    margin-left: 5%;
  }

  .card_products {
    border: 1px solid grey;
    width: 90%;

  }

  .sale p {
    font-size: 25px;
  }

  .deep_game {
    height: 72%;

  }

  .img_product {
    width: 70%;
    height: auto;
  }

  .wirles1 {
    font-size: 18px;
    width: 100px;
  }

  .jbl_bar {
    width: 80%;
  }

  .deep_btn button {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .deep_button button:nth-child(1) {
    width: 150px;
  }

  .delivery p {
    width: auto;
  }

  .delivery {
    display: block;
  }

  .delivery img {
    width: 40px;
    height: 40px;
  }

  .free_delivery {
    height: 550px;
  }

  .s1 {
    display: none;
  }

  .people_swip {
    height: 100%;
  }

  .lorem {
    height: 70%;
  }
  .s_input input{
    width: 200px;
  }
  .s_input span{
    margin-left: 15px;
    margin-top: 5px;
  }
  .subscribe{
    height: 30%;
  }
}

@media screen and (max-width: 250px) {
  .sale p {
    font-size: 20px;
    font-weight: 600;
  }
}